  <div class="content container">
    <h1>各スポーツ団体の方々</h1>
    <div class="content-image2"></div>
    <p class="content-text">
      自分が今行っているスポーツで指導者がいない、経験者から意見を聞きたいなどでお困りではありませんか？<br>
      気付かないだけですぐ近くに過去の名プレーヤーが住んでいるかもしれません
    </p>
  </div>

  <div class="content container">
    <h1>コーチ志望の方々</h1>
    <div class="content-image1"></div>
    <p class="content-text">あなたが学生時代に青春を捧げたスポーツの指導を未来ある子供達にしてみませんか？</p>
  </div>